*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
    /* font-weight: bold; */
    font-family: sans-serif;
    text-shadow: .5px .5px 5px rgba(51, 51, 51, 0.726)  ;
}


.box1{
    background-color: rgb(28, 145, 125);
}
.box2{
    background-color: rgb(43, 123, 177);
}
.box3{
    background-color: rgb(158, 42, 187);
    /* order: 1; */
}
.box4{
    background-color: rgb(53, 57, 61);
}
.box5{
    background-color: rgb(199, 171, 47);
}
.box6{
    background-color: rgb(212, 137, 24);
}
.box7{
    background-color: rgb(212, 62, 24);
    /* order: 2; */
}
.box8{
    background-color: rgb(161, 218, 218);
}
.box9{
    background-color: rgb(123, 204, 127);
}
.box10{
    background-color: rgb(15, 116, 94);
}
.container{
    display: flex;
    border: 10px solid gold;
    /* height: 100vh; */
    align-items: flex-start ;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
div[class^="box"]{
    padding: 5px;
   /* flex: 1; */
   flex-basis: 50%;
}
